.git
.gitignore
node_modules
vendor
writable/cache/*
writable/logs/*
writable/session/*
writable/uploads/*
writable/debugbar/*
.env
.env.*
*.md
!Dockerfile
!docker-entrypoint.sh
tests/
flutter_app/
build/
.DS_Store
Thumbs.db
*.log

